{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}
{% assign builderMode = true %}

<section data-id="categories" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <div class="row">
      <h3 class="page-section__header" css="{{ heading.design }}">{{ heading.text }}</h3>
      <div class="col-md-12">
        <div component="content" class="row row-cols-lg-{{ content.column.lg }} row-cols-md-3 row-cols-sm-2 row-cols-1">
          {% assign collection = collections[content.collection] %}
          {% for cate in content.images limit: 8 %}
            <div class="col">
              <div class="vdoan-category">
                <a href="#"><img src={{cate.url}} alt="category"></a>
                <div class="vdoan-category__title">{{cate.title}}</div>
                <div class="vdoan-overlay"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
