{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}
{% assign builderMode = true %}
<nav class="nav" id="nav">
  <div class="container maw:100% p:0">
    <div class="row bgc:black" >
      <div class="col-md-8 col-lg-8">
        <ul class="vdoan-{{menu1.name}} vdoan-{{menu1.name}}--1">
          {% for item in menu1.list %}
            <li class="vdoan-menu__list">
              <a href={{item.href}} class="vdoan-menu__link--primary">{{item.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 col-lg-4" >
        <div class="vdoan-menu__option">
          <a href="/login.html"><i class="far fa-user"></i></a>
          <a href="#"><i class="far fa-box-up"></i></a>
          <a href="/wishlist.html"><i class="far fa-heart"></i></a>
          <a href="/mycart.html"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
    <div class="row bgc:white m:0">
      <div class="col-md-8 col-lg-8 m:0">
        <ul class="vdoan-{{menu2.name}} vdoan-{{menu2.name}}--2">
          {% for item in menu2.list %}
            <li class="vdoan-menu__list">
              <a href={{item.href}} class="vdoan-menu__link--secondary c:black">{{item.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 col-lg-4 m:0">
        <div class="vdoan-menu__search-container">
          <div class="vdoan-menu__search">
            <input placeholder="Search" type="text">
            <div class="btn-search">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>




<nav class="nav-mobile" id="nav-mobile">
  <div class="container maw:100% p:0">
    <div class="row bgc:black ml:0 mr:0 "   >
      <div class="col-xs-12 col-sm-12 col-md-12 h:60px ovy:hidden">
        <div class="vdoan-menu-mobile__container-overflow">
          <ul class="vdoan-{{menu1.name}}-mobile vdoan-{{menu1.name}}-mobile--1">
            {% for item in menu1.list %}
              <li class="vdoan-menu-mobile__list">
                <a href={{item.href}} class="vdoan-menu-mobile__link--primary">{{item.name}}</a>
              </li>
            {% endfor %}
            <li>
              <div class="vdoan-menu-mobile__option pl:40px">
                <a href="/login.html"><i class="far fa-user"></i></a>
                <a href="#"><i class="far fa-box-up"></i></a>
                <a href="/wishlist.html"><i class="far fa-heart"></i></a>
                <a href="/mycart.html"><i class="fas fa-shopping-cart"></i></a>
              </div>
            </li>
          </ul>

        </div>

      </div>
      <!-- <div class="col-xs-12 col-sm-12 col-md-12" >
        <div class="vdoan-menu-mobile__option">
          <a href="/login.html"><i class="far fa-user"></i></a>
          <a href="#"><i class="far fa-box-up"></i></a>
          <a href="/wishlist.html"><i class="far fa-heart"></i></a>
          <a href="/mycart.html"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div> -->
    </div>
    <div class="row" style="background-color: white;margin: 0;">
      <div class="col-xs-12 col-sm-12 col-md-12" style="margin: 0;">
        <ul class="vdoan-{{menu2.name}}-mobile vdoan-{{menu2.name}}-mobile--2">
          {% for item in menu2.list %}
            <li class="vdoan-menu-mobile__list">
              <a href={{item.href}} class="vdoan-menu-mobile__link--secondary" style="color: black">{{item.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12" style="margin: 0;">
        <div class="vdoan-menu-mobile__search-container">
          <div class="vdoan-menu-mobile__search">
            <input placeholder="Search" type="text">
            <div class="btn-search">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


